core
*.lst
*.opp

durapub
durapub2
durasub
identity
lruqueue
psenvpub
psenvsub
rtdealer
rtmama
rtpapa
zversion
hwclient 
hwserver 
mtserver
hwclient
hwserver
msgqueue
mspoller
msreader
mtrelay
rrbroker
rrclient
rrserver
syncpub
syncsub
tasksink
tasksink2
taskvent
taskwork
taskwork2
wuclient
wuproxy
wuserver
