core
*.lst
*.opp
hwclient 
hwserver 
mtserver
hwclient
hwserver
msgqueue
mspoller
msreader
mtrelay
rrbroker
rrclient
rrserver
syncpub
syncsub
tasksink
tasksink2
taskvent
taskwork
taskwork2
wuclient
wuproxy
wuserver
