core
*.lst
*.opp

asyncsrv
durapub
durapub2
durasub
hwclient
hwserver
identity
interrupt
lpclient
lpserver
lruqueue
mdbroker
mdclient
mdclient2
mdworker
msgqueue
mspoller
msreader
mtrelay
mtserver
ppqueue
ppworker
psenvpub
psenvsub
rrbroker
rrclient
rrserver
rrworker
rtdealer
rtmama
rtpapa
spqueue
spworker
suisnail
syncpub
syncsub
tasksink
tasksink2
taskvent
taskwork
taskwork2
tripping
version
wuclient
wuproxy
wuserver
