# ignore file

/zmsg_test
/rtrouter
/lruqueue
/rtpapa
/rtmama
/rtdealer
/identity
/durapub2
/durapub
/durasub
/psenvsub
/psenvpub
/syncsub
/syncpub
/mtrelay
/mtserver
/msgqueue
/rrbroker
/rrserver
/rrclient
/wuproxy
/tasksink2
/taskwork2
/mspoller
/msreader
/tasksink
/taskvent
/taskwork
/hwclient
/hwserver
/wuclient
/wuserver
/zversion

*.fas*
*.*fsl
